body {
	background: #eee;
	color: #fff;
}

.movie-app > .row {
	overflow-x: auto;
	justify-content: center;
}

.results{
  color: #000;
  text-align: left;
  justify-content: flex-start;
  float: left;
  margin-right: 30px;
}

