
$primary-color: #0f171e;
$secondary-color: #1a242f;
$font-primary: #ffffff;
$font-secondary: #79b8f3;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #0f171e;
	color: #fff;
}

// .movie-app > .row {
// 	overflow-x: auto;
// 	justify-content: center;
// }

.results{
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  float: left;
  margin-right: 30px;
}

.sort-section{
    padding: 0 10px;
    font: 400 13px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #767676;
}
/* //ghost style */
.ghost-elem {
    background: rgba(212, 212, 212, 0.44);
    border-radius: 5px;
}

.ghost-elem.shiny {
    animation: shine 1.5s ease-in 0s infinite normal forwards;
    -ms-animation-name: none;
    background: #f6f7f8;
    background: linear-gradient(to right, #ccc 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
}

@keyframes ghostbreathe {
    from {
        background: rgba(212, 212, 212, 0.44);
        transform: scale(1.8);
    }

    to {
        background: rgba(199, 199, 199, 0.5);
        transform: scale(1.5);
    }
}

@keyframes shine {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

